@use "../util" as u;

%auth-form {
    padding: u.em(10);
    width: u.em(700);
    margin-inline: auto;
    margin-top: u.em(50);
}

.auth-title {
    margin-bottom: u.em(20);
    font-weight: 600;
    font-size: u.rem(20);
}

.register-form {
    @extend %auth-form;

    &__gender-container {
        margin-bottom: u.em(20);
        
        &__radiobox-container {
            display: flex;
            gap: u.em(10);
        }

        &__radiogroup-title {
            font-weight: 600;
            margin-bottom: u.em(5);
        }
    }

    &__birthdate {
        margin-bottom: u.em(20);
        margin-left: u.em(2);
    }

    &__checkbox-container {
        display: flex;
        flex-direction: column;
        gap: u.em(5);
    }

    &__terms-of-service {
        &__label {
            margin-right: u.em(10);
        }
    }

    &__login-link {
        position: absolute;
        bottom: u.em(-30);
    }
}

.login-form {
    @extend %auth-form;

    &__login-btn {
        position: relative;
    }
}