

@use "../util" as u;

$size-small: 40;
$size-medium: 55;

@mixin imgSize($size) {
    width: u.em($size);
    height: u.em($size);
}

.img-small {
    @include imgSize($size-small);
}

.img-medium {
    @include imgSize($size-medium);
}